/* -----------------------
   ------ Extensions ------
   ----------------------- */

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
}

/* vertical alignment */
.vertical-align {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Center absolute */
.abs-center {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

/* Text shortening
@include text-shorten();
*/
.text-shorten {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

/**
 * Hide text while making it readable for screen readers
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 *  from HTML5Boilerplate:
 */
.reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.img-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img-contain {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.noSelect {
  user-select: none;
}

.hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
