@import "../../styles/media";

.color-box {
  --height: 100px;
  --copy-height: 65%;
  --off-padding: 6;
  --background: rgba(255, 255, 255, 0.3);

  display: flex;
  flex-direction: column;
  height: var(--height);

  .copy-btn {
    font-size: var(--font-sm);
    flex-basis: var(--copy-height);
    padding-top: calc(var(--height) / var(--off-padding));
    opacity: 0;
    transition: 0.4s;

    span {
      background: var(--background);
      padding: 0.3rem 1.2rem;
    }

    &:hover {
      opacity: 1;
    }
  }

  @include mediaUp(md) {
    --height: 200px;
    --copy-height: 88%;
    --off-padding: 9;
  }

  button {
    height: 100%;
    text-transform: capitalize;
    font-size: var(--font-xs);
  }

  .controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: calc(100% - var(--copy-height));

    .color-title {
      padding-left: 10px;
      flex: 1;
      text-align: left;

      .code,
      .name {
        display: none;
      }
    }

    .more-btn {
      padding: 0 2rem;
      background: var(--background);
    }
  }
}
