@import "../../styles/media";
@import "../../styles/mixins";

.color-box {
  --height: 120px;
  --copy-height: 65%;
  --off-padding: 6;
  --background: rgba(255, 255, 255, 0.3);

  display: flex;
  flex-direction: column;
  height: var(--height);

  @include mediaUp(md) {
    --height: 200px;
    --copy-height: 88%;
    --off-padding: 9;
  }

  button {
    height: 100%;
    text-transform: capitalize;
    font-size: var(--font-sm);
  }

  .copy-btn {
    font-size: var(--font-sm);
    flex-basis: var(--copy-height);
    padding-top: calc(var(--height) / var(--off-padding));
    opacity: 0;

    span {
      background: var(--background);
      padding: 0.3rem 1.2rem;
    }

    &:hover {
      opacity: 1;
    }
  }

  .btn-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: calc(100% - var(--copy-height));

    .color-title {
      padding-left: 10px;
      flex: 1;
      text-align: left;

      .code,
      .name {
        display: none;
      }
    }

    .more-btn {
      padding: 0 2rem;
      background: var(--background);
    }
  }

  .copy-overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    width: 0;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font);
    color: white;

    h2 {
      margin-top: -0.4rem;
      text-align: center;
      text-shadow: 1px 1px black;
      font-weight: 400;
    }

    &.show {
      z-index: 1;
      width: 100%;
      height: 100%;

      @include animate("fadeOut", (0.6s ease-out), false) {
        40%,
        70% {
          transform: scale(1.15);
          opacity: 1;
        }
      }
    }
  }
}
