@import "../../styles/grid";

.palette {
  &.display-name {
    .name {
      display: inline-block !important;
    }
  }
  &.display-code {
    .code {
      display: inline-block !important;
    }
  }
}

.cell {
  @extend .sp-cell;
  .content {
    border: 2px solid #f0c !important;
    padding: var(--space-xl);
  }
}
